name: Desplegar Sitio Web
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Obtener código
        uses: actions/checkout@v4
      - name: Instalar dependencias
        run: npm ci
      - name: Ejecutar pruebas
        run: npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    outputs:
      archivo-de-script: ${{ steps.publish.outputs.archivo }}
    steps:
      - name: Obtener código
        uses: actions/checkout@v4
      - name: Instalar dependencias
        run: npm ci
      - name: Compilar código
        run: npm run build
      - name: Publicar nombre de archivo
        run: find dist/assets/*.js -type f -execdir echo 'archivo={}' >> '$GITHUB_OUTPUT' \;
      - name: Cargar artefacto
        uses: actions/upload-artifact@v3
        with:
          name: website-dist
          path: dist
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Descargar artefacto
        uses: actions/download-artifact@v3
        with:
          name: website-dist
      - name: Verificar descarga
        run: ls
      - name: Retornar nombre de archivo
        run: echo "${{ needs.build.outputs.archivo-de-script }}"
      - name: Desplegar sitio web
        run: echo "Desplegando..."