name: Desplegar Sitio Web
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Obtener código
        uses: actions/checkout@v4
      - name: Instalar dependencias
        run: npm ci
      - name: Ejecutar pruebas
        run: npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    outputs:
      Value1: ${{ steps.value1.outputs.value }}
      Value2: ${{ steps.value2.outputs.value }}
    steps:
      - name: Obtener código
        uses: actions/checkout@v4
      - name: Instalar dependencias
        run: npm ci
      - name: Compilar código
        run: npm run build
      - name: value1
        run:  echo 'value=HOLA' >> '$GITHUB_OUTPUT'
      - name: value2
        run:  echo 'value=MUNDO' >> '$GITHUB_OUTPUT'
      - name: Cargar artefacto
        uses: actions/upload-artifact@v3
        with:
          name: website-dist
          path: dist
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Descargar artefacto
        uses: actions/download-artifact@v3
        with:
          name: website-dist
      - name: Verificar descarga
        run: ls
      - name: Retornar uuid
        run: echo "${{ needs.build.outputs.Value1 }}"
      - name: Retornar número aleatorio
        run: echo "${{ needs.build.outputs.Value2 }}"
      - name: Desplegar sitio web
        run: echo "Desplegando..."